/* css links  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* style  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    background-color: var(--primary-dark-text-color);
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */
    overflow-y: scroll;
    overflow-x: hidden;
}

:root {
    --primary-dark-text-color: #0d0d19;
    --secondary-dark-text-color: #1c202c;
    --primary-light-text-color: #f1f4fb;
    --secondary-light-text-color: #3f71f4;
    --padding-inline-section: 20px;
}

.flex {
    display: flex;
    align-items: center;

}

.container {
    max-width: 1280px;
    margin-inline: auto;
    /* padding-inline: var(--padding-inline-section); */

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    transition: 0.4s;
}

a:hover {
    color: #ffd833;
}

/* header section  */

header {
    /* position:relative; */
    padding: 0 2rem;
    width: 100%;
    background-color: var(--secondary-dark-text-color);

    z-index: 1;
    position: fixed;
    top: 0;

}

.navbar {
    width: 100%;
    height: 70px;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;

}

.logo a img {
    /* background-image: url(./Images/gravity_logo_day_theme.png); */
    width: 150px;
    display: flex;
    align-items: center;
    margin: auto;
    align-items: center;
    border-radius: 15px;
}

.navbar .links {
    display: flex;
    gap: 3rem;

}

.navbar .toggle_btn {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #ffffff;
    color: #0d0d19;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.2s;
    width: 130px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action_btn:hover {
    background-color: #ffd833;
    color: #0d0d19;
    scale: 1.05;

}

.action_btn:active {
    scale: 0.9;
}


/* navbar progress  */

body {
    min-height: 100%;
}

#scroll-progress {
    position: fixed;
    top: 0;
    width: 0%;
    height: 6px;
    background: #ffd833;
    z-index: 10000;
    border-radius: 20px;
}



/* Dropdown menu section */

/* Dropdown menu section */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    /* background-color: #0d0d19; */
    background-color: var(--primary-dark-text-color);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 260px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    display: block;
    align-items: center;
    justify-self: center;


}

.dropdown_menu li a {
    color: #ffffff;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1c202c;
    color: #ffffff;
}

/* footer section  */

.subfooter {
    display: flex;
    background-color: var(--secondary-dark-text-color);
    padding: var(--padding-inline-section);
    margin-top: 10%;
    border-radius: 10px;
    margin-bottom: 14px;
}

.subfooter-container {
    justify-content: center;
    gap: 30px;

}


/* main content  */

.main_container{
    margin-top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.main_container h2{
    background-color: var(--secondary-dark-text-color);
    width: max-content;
    padding: 12px;
    border-radius: 12px;
    color: #fff;
    transition: 0.2s ease-in;
    cursor: default;
}

.main_container h2:hover{
    color: #ffd833;
    cursor: default;
}

.main_section{
    width: 70%;
    height: 10%;
    background-color: var(--secondary-dark-text-color);
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 12px;
}

.left_card{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_card img{
    width: 100%;
    border-radius: 12px 0px 0px 12px;
}

.main_middle_card{
    width: 60%;
}


.main_middle_card .middle_card{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items:start;
    /* justify-content: center; */
    flex-direction: column;
    /* text-wrap: nowrap; */
    overflow: hidden;
    margin-left: 1rem;
}

.middle_card h3{
    font-size: 2rem;
    margin-bottom: 0.7rem;
    display: flex;
    font-weight: 600;
}


.right_card{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_card a {
    scale: 3;
}







/* responsive web design section  */

@media(max-width: 1024px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        width: 300px;
    }

    .middle_card h3{
        font-size: 1.3rem;
    }

    .middle_card p{
        font-size: 1rem;
    }
}

@media(max-width: 768px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        width: 300px;
    }

    .middle_card h3{
        font-size: 1.3rem;
    }

    .middle_card p{
        font-size: 1rem;
    }

}

@media(max-width: 480px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        width: 300px;
    }

    .middle_card h3{
        font-size: 1.3rem;
    }

    .middle_card p{
        font-size: 1rem;
    }

    .subfooter{
        scale: 1;
    }

    .subfooter-container a{
        font-size: 0.7rem;
    }

    .middle_card h3{
        font-size: 1rem;
    }

    .middle_card p{
        font-size: 0.8rem;
    }

    .right_card a{
        scale: 2;
    }

    .main_section{
        width: 80%;
    }

    .main_container{
        margin-top: 18%;
    }

    .main_container h2{
        font-size: 1rem;
    }

}

@media(max-width: 360px){

}